#myaccount .ui-tabs-nav,
#nieuwsbrieven .ui-tabs .ui-tabs-nav,
.no-bullets,
.section-brands .brands-categorieen,
.section-brands .brands-categorieen .open,
.section-brands .brands-row,
.text-page .text-submenu>ul,
.validation-summary-errors ul,
footer .footer-bottom-navigation ul,
footer .footer-center .footer-navigation-wrapper ul,
footer .socials-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.checkbox label::after,
.icon-font,
.radio label::after,
aside#product-filter .filters span.relative-container label::after {
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.clearfix:after,
.clearfix:before,
.grid:after,
.grid:before {
    content: " ";
    display: table;
}

.clearfix:after,
.grid:after {
    clear: both;
}

#myaccount .ui-tabs-nav,
#nieuwsbrieven .ui-tabs .ui-tabs-nav,
.no-bullets,
.section-brands .brands-categorieen,
.section-brands .brands-categorieen .open,
.section-brands .brands-row,
.text-page .text-submenu>ul,
.validation-summary-errors ul,
footer .footer-bottom-navigation ul,
footer .footer-center .footer-navigation-wrapper ul,
footer .socials-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex.flex-nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.inline-flex.flex-nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.inline-flex.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.justify-space-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.align-content-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.align-content-end {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.align-content-center {
    -ms-flex-line-pack: center;
    align-content: center;
}

.align-content-stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.align-content-space-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.align-content-space-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.align-content-space-evenly {
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
}

.align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-baseline {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.align-self-center {
    -ms-flex-item-align: center;
    align-self: center;
}

.align-self-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.align-self-auto {
    -ms-flex-item-align: auto;
    align-self: auto;
}

.align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.grow-0 {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.order-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.grow-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.grow-2 {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.grow-3 {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
}

.order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.grow-4 {
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
}

.order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.grow-5 {
    -webkit-box-flex: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
}

.order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}

.grow-6 {
    -webkit-box-flex: 6;
    -ms-flex-positive: 6;
    flex-grow: 6;
}

.order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
}

.grow-7 {
    -webkit-box-flex: 7;
    -ms-flex-positive: 7;
    flex-grow: 7;
}

.order-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
}

.grow-8 {
    -webkit-box-flex: 8;
    -ms-flex-positive: 8;
    flex-grow: 8;
}

.order-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
}

.grow-9 {
    -webkit-box-flex: 9;
    -ms-flex-positive: 9;
    flex-grow: 9;
}

.order-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
}

.grow-10 {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
}

.order-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
}

.grow-11 {
    -webkit-box-flex: 11;
    -ms-flex-positive: 11;
    flex-grow: 11;
}

.order-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
}

.grow-12 {
    -webkit-box-flex: 12;
    -ms-flex-positive: 12;
    flex-grow: 12;
}

.order-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
}

@media screen and (max-width: 1024px) {
    .md-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .md-flex.md-flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .md-flex.md-flex-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .md-flex.md-flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .md-inline-flex {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .md-inline-flex.md-flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .md-inline-flex.md-flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .md-flex-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .md-flex-row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .md-flex-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .md-flex-column-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .md-justify-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .md-justify-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .md-justify-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .md-justify-space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .md-justify-space-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .md-justify-space-evenly {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .md-align-content-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    .md-align-content-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    .md-align-content-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .md-align-content-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
    .md-align-content-space-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .md-align-content-space-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    .md-align-content-space-evenly {
        -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    }
    .md-align-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .md-align-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .md-align-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .md-align-baseline {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .md-align-stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .md-align-self-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .md-align-self-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .md-align-self-center {
        -ms-flex-item-align: center;
        align-self: center;
    }
    .md-align-self-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }
    .md-align-self-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .md-align-self-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
    .md-grow-0 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .md-order-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .md-grow-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .md-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .md-grow-2 {
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }
    .md-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .md-grow-3 {
        -webkit-box-flex: 3;
        -ms-flex-positive: 3;
        flex-grow: 3;
    }
    .md-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .md-grow-4 {
        -webkit-box-flex: 4;
        -ms-flex-positive: 4;
        flex-grow: 4;
    }
    .md-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .md-grow-5 {
        -webkit-box-flex: 5;
        -ms-flex-positive: 5;
        flex-grow: 5;
    }
    .md-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .md-grow-6 {
        -webkit-box-flex: 6;
        -ms-flex-positive: 6;
        flex-grow: 6;
    }
    .md-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }
    .md-grow-7 {
        -webkit-box-flex: 7;
        -ms-flex-positive: 7;
        flex-grow: 7;
    }
    .md-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
    .md-grow-8 {
        -webkit-box-flex: 8;
        -ms-flex-positive: 8;
        flex-grow: 8;
    }
    .md-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }
    .md-grow-9 {
        -webkit-box-flex: 9;
        -ms-flex-positive: 9;
        flex-grow: 9;
    }
    .md-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }
    .md-grow-10 {
        -webkit-box-flex: 10;
        -ms-flex-positive: 10;
        flex-grow: 10;
    }
    .md-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    .md-grow-11 {
        -webkit-box-flex: 11;
        -ms-flex-positive: 11;
        flex-grow: 11;
    }
    .md-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }
    .md-grow-12 {
        -webkit-box-flex: 12;
        -ms-flex-positive: 12;
        flex-grow: 12;
    }
    .md-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
}

@media screen and (max-width: 824px) {
    .sm-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .sm-flex.sm-flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .sm-flex.sm-flex-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .sm-flex.sm-flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .sm-inline-flex {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .sm-inline-flex.sm-flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .sm-inline-flex.sm-flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .sm-flex-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .sm-flex-row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .sm-flex-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .sm-flex-column-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .sm-justify-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .sm-justify-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .sm-justify-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .sm-justify-space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .sm-justify-space-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .sm-justify-space-evenly {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .sm-align-content-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    .sm-align-content-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    .sm-align-content-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .sm-align-content-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
    .sm-align-content-space-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .sm-align-content-space-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    .sm-align-content-space-evenly {
        -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    }
    .sm-align-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .sm-align-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .sm-align-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .sm-align-baseline {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .sm-align-stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .sm-align-self-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .sm-align-self-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .sm-align-self-center {
        -ms-flex-item-align: center;
        align-self: center;
    }
    .sm-align-self-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }
    .sm-align-self-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .sm-align-self-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
    .sm-grow-0 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .sm-order-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .sm-grow-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .sm-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .sm-grow-2 {
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }
    .sm-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .sm-grow-3 {
        -webkit-box-flex: 3;
        -ms-flex-positive: 3;
        flex-grow: 3;
    }
    .sm-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .sm-grow-4 {
        -webkit-box-flex: 4;
        -ms-flex-positive: 4;
        flex-grow: 4;
    }
    .sm-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .sm-grow-5 {
        -webkit-box-flex: 5;
        -ms-flex-positive: 5;
        flex-grow: 5;
    }
    .sm-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .sm-grow-6 {
        -webkit-box-flex: 6;
        -ms-flex-positive: 6;
        flex-grow: 6;
    }
    .sm-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }
    .sm-grow-7 {
        -webkit-box-flex: 7;
        -ms-flex-positive: 7;
        flex-grow: 7;
    }
    .sm-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
    .sm-grow-8 {
        -webkit-box-flex: 8;
        -ms-flex-positive: 8;
        flex-grow: 8;
    }
    .sm-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }
    .sm-grow-9 {
        -webkit-box-flex: 9;
        -ms-flex-positive: 9;
        flex-grow: 9;
    }
    .sm-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }
    .sm-grow-10 {
        -webkit-box-flex: 10;
        -ms-flex-positive: 10;
        flex-grow: 10;
    }
    .sm-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    .sm-grow-11 {
        -webkit-box-flex: 11;
        -ms-flex-positive: 11;
        flex-grow: 11;
    }
    .sm-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }
    .sm-grow-12 {
        -webkit-box-flex: 12;
        -ms-flex-positive: 12;
        flex-grow: 12;
    }
    .sm-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
}

@media screen and (max-width: 480px) {
    .xs-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .xs-flex.xs-flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .xs-flex.xs-flex-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .xs-flex.xs-flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .xs-inline-flex {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .xs-inline-flex.xs-flex-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .xs-inline-flex.xs-flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .xs-flex-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .xs-flex-row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .xs-flex-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .xs-flex-column-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .xs-justify-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .xs-justify-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .xs-justify-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .xs-justify-space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .xs-justify-space-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .xs-justify-space-evenly {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .xs-align-content-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    .xs-align-content-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    .xs-align-content-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .xs-align-content-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
    .xs-align-content-space-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .xs-align-content-space-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    .xs-align-content-space-evenly {
        -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    }
    .xs-align-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .xs-align-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .xs-align-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .xs-align-baseline {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .xs-align-stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .xs-align-self-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .xs-align-self-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .xs-align-self-center {
        -ms-flex-item-align: center;
        align-self: center;
    }
    .xs-align-self-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }
    .xs-align-self-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .xs-align-self-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
    .xs-grow-0 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .xs-order-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .xs-grow-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .xs-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .xs-grow-2 {
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }
    .xs-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .xs-grow-3 {
        -webkit-box-flex: 3;
        -ms-flex-positive: 3;
        flex-grow: 3;
    }
    .xs-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .xs-grow-4 {
        -webkit-box-flex: 4;
        -ms-flex-positive: 4;
        flex-grow: 4;
    }
    .xs-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .xs-grow-5 {
        -webkit-box-flex: 5;
        -ms-flex-positive: 5;
        flex-grow: 5;
    }
    .xs-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .xs-grow-6 {
        -webkit-box-flex: 6;
        -ms-flex-positive: 6;
        flex-grow: 6;
    }
    .xs-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }
    .xs-grow-7 {
        -webkit-box-flex: 7;
        -ms-flex-positive: 7;
        flex-grow: 7;
    }
    .xs-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
    .xs-grow-8 {
        -webkit-box-flex: 8;
        -ms-flex-positive: 8;
        flex-grow: 8;
    }
    .xs-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }
    .xs-grow-9 {
        -webkit-box-flex: 9;
        -ms-flex-positive: 9;
        flex-grow: 9;
    }
    .xs-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }
    .xs-grow-10 {
        -webkit-box-flex: 10;
        -ms-flex-positive: 10;
        flex-grow: 10;
    }
    .xs-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    .xs-grow-11 {
        -webkit-box-flex: 11;
        -ms-flex-positive: 11;
        flex-grow: 11;
    }
    .xs-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }
    .xs-grow-12 {
        -webkit-box-flex: 12;
        -ms-flex-positive: 12;
        flex-grow: 12;
    }
    .xs-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
}

[class*="col-"] {
    float: left;
    padding-right: 1rem;
    padding-left: 1rem;
}

.grid {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.grid.unset-max-width {
    max-width: unset;
}

.grid-pad {
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hide {
    display: none;
}

.no-p {
    padding: 0;
}

.col-1-1 {
    width: 100%;
    width: 100%;
}

.col-11-12 {
    width: 91.66%;
    width: 91.6666666667%;
}

.col-10-12 {
    width: 83.333%;
    width: 83.3333333333%;
}

.col-3-4,
.col-9-12 {
    width: 75%;
    width: 75%;
}

.col-2-3,
.col-4-6,
.col-8-12 {
    width: 66.66%;
    width: 66.6666666667%;
}

.col-7-12 {
    width: 58.33%;
    width: 58.3333333333%;
}

.col-1-2,
.col-6-12 {
    width: 50%;
    width: 50%;
}

.col-5-12 {
    width: 41.66%;
    width: 41.6666666667%;
}

.col-1-3,
.col-4-12 {
    width: 33.33%;
    width: 33.3333333333%;
}

.col-1-4,
.col-3-12 {
    width: 25%;
    width: 25%;
}

.col-1-5 {
    width: 20%;
    width: 20%;
}

.col-1-6,
.col-2-12 {
    width: 16.667%;
    width: 16.6666666667%;
}

.col-1-7 {
    width: 14.28%;
    width: 14.2857142857%;
}

.col-1-8 {
    width: 12.5%;
    width: 12.5%;
}

.col-1-9 {
    width: 11.1%;
    width: 11.1111111111%;
}

.col-1-10 {
    width: 10%;
    width: 10%;
}

.col-1-11 {
    width: 9.09%;
    width: 9.0909090909%;
}

.col-1-12 {
    width: 8.33%;
    width: 8.3333333333%;
}

.push-1-1 {
    margin-left: 100%;
    margin-left: 100%;
}

.push-11-12 {
    margin-left: 91.66%;
    margin-left: 91.6666666667%;
}

.push-10-12 {
    margin-left: 83.333%;
    margin-left: 83.3333333333%;
}

.push-3-4,
.push-9-12 {
    margin-left: 75%;
    margin-left: 75%;
}

.push-2-3,
.push-8-12 {
    margin-left: 66.66%;
    margin-left: 66.6666666667%;
}

.push-7-12 {
    margin-left: 58.33%;
    margin-left: 58.3333333333%;
}

.push-1-2,
.push-6-12 {
    margin-left: 50%;
    margin-left: 50%;
}

.push-5-12 {
    margin-left: 41.66%;
    margin-left: 41.6666666667%;
}

.push-1-3,
.push-4-12 {
    margin-left: 33.33%;
    margin-left: 33.3333333333%;
}

.push-1-4,
.push-3-12 {
    margin-left: 25%;
    margin-left: 25%;
}

.push-1-5 {
    margin-left: 20%;
    margin-left: 20%;
}

.push-1-6,
.push-2-12 {
    margin-left: 16.667%;
    margin-left: 16.6666666667%;
}

.push-1-7 {
    margin-left: 14.28%;
    margin-left: 14.2857142857%;
}

.push-1-8 {
    margin-left: 12.5%;
    margin-left: 12.5%;
}

.push-1-9 {
    margin-left: 11.1%;
    margin-left: 11.1111111111%;
}

.push-1-10 {
    margin-left: 10%;
    margin-left: 10%;
}

.push-1-11 {
    margin-left: 9.09%;
    margin-left: 9.0909090909%;
}

.push-1-12 {
    margin-left: 8.33%;
    margin-left: 8.3333333333%;
}

@media screen and (max-width: 1024px) {
    .md-col-1-1 {
        width: 100%;
        width: 100%;
    }
    .md-col-11-12 {
        width: 91.66%;
        width: 91.6666666667%;
    }
    .md-col-10-12 {
        width: 83.333%;
        width: 83.3333333333%;
    }
    .md-col-3-4,
    .md-col-9-12 {
        width: 75%;
        width: 75%;
    }
    .md-col-2-3,
    .md-col-8-12 {
        width: 66.66%;
        width: 66.6666666667%;
    }
    .md-col-7-12 {
        width: 58.33%;
        width: 58.3333333333%;
    }
    .md-col-1-2,
    .md-col-6-12 {
        width: 50%;
        width: 50%;
    }
    .md-col-5-12 {
        width: 41.66%;
        width: 41.6666666667%;
    }
    .md-col-1-3,
    .md-col-4-12 {
        width: 33.33%;
        width: 33.3333333333%;
    }
    .md-col-1-4,
    .md-col-3-12 {
        width: 25%;
        width: 25%;
    }
    .md-col-1-5 {
        width: 20%;
        width: 20%;
    }
    .md-col-1-6,
    .md-col-2-12 {
        width: 16.667%;
        width: 16.6666666667%;
    }
    .md-col-1-7 {
        width: 14.28%;
        width: 14.2857142857%;
    }
    .md-col-1-8 {
        width: 12.5%;
        width: 12.5%;
    }
    .md-col-1-9 {
        width: 11.1%;
        width: 11.1111111111%;
    }
    .md-col-1-10 {
        width: 10%;
        width: 10%;
    }
    .md-col-1-11 {
        width: 9.09%;
        width: 9.0909090909%;
    }
    .md-col-1-12 {
        width: 8.33%;
        width: 8.3333333333%;
    }
    .md-push-1-1 {
        margin-left: 100%;
        margin-left: 100%;
    }
    .md-push-11-12 {
        margin-left: 91.66%;
        margin-left: 91.6666666667%;
    }
    .md-push-10-12 {
        margin-left: 83.333%;
        margin-left: 83.3333333333%;
    }
    .md-push-3-4,
    .md-push-9-12 {
        margin-left: 75%;
        margin-left: 75%;
    }
    .md-push-2-3,
    .md-push-8-12 {
        margin-left: 66.66%;
        margin-left: 66.6666666667%;
    }
    .md-push-7-12 {
        margin-left: 58.33%;
        margin-left: 58.3333333333%;
    }
    .md-push-1-2,
    .md-push-6-12 {
        margin-left: 50%;
        margin-left: 50%;
    }
    .md-push-5-12 {
        margin-left: 41.66%;
        margin-left: 41.6666666667%;
    }
    .md-push-1-3,
    .md-push-4-12 {
        margin-left: 33.33%;
        margin-left: 33.3333333333%;
    }
    .md-push-1-4,
    .md-push-3-12 {
        margin-left: 25%;
        margin-left: 25%;
    }
    .md-push-1-5 {
        margin-left: 20%;
        margin-left: 20%;
    }
    .md-push-1-6,
    .md-push-2-12 {
        margin-left: 16.667%;
        margin-left: 16.6666666667%;
    }
    .md-push-1-7 {
        margin-left: 14.28%;
        margin-left: 14.2857142857%;
    }
    .md-push-1-8 {
        margin-left: 12.5%;
        margin-left: 12.5%;
    }
    .md-push-1-9 {
        margin-left: 11.1%;
        margin-left: 11.1111111111%;
    }
    .md-push-1-10 {
        margin-left: 10%;
        margin-left: 10%;
    }
    .md-push-1-11 {
        margin-left: 9.09%;
        margin-left: 9.0909090909%;
    }
    .md-push-1-12 {
        margin-left: 8.33%;
        margin-left: 8.3333333333%;
    }
    .md-push-0 {
        margin-left: 0;
    }
    .md-show {
        display: block;
    }
    .md-hide {
        display: none;
    }
    .md-no-p {
        padding: 0;
    }
}

@media screen and (max-width: 824px) {
    .sm-col-1-1 {
        width: 100%;
        width: 100%;
    }
    .sm-col-11-12 {
        width: 91.66%;
        width: 91.6666666667%;
    }
    .sm-col-10-12 {
        width: 83.333%;
        width: 83.3333333333%;
    }
    .sm-col-3-4,
    .sm-col-9-12 {
        width: 75%;
        width: 75%;
    }
    .sm-col-2-3,
    .sm-col-8-12 {
        width: 66.66%;
        width: 66.6666666667%;
    }
    .sm-col-7-12 {
        width: 58.33%;
        width: 58.3333333333%;
    }
    .sm-col-1-2,
    .sm-col-6-12 {
        width: 50%;
        width: 50%;
    }
    .sm-col-5-12 {
        width: 41.66%;
        width: 41.6666666667%;
    }
    .sm-col-1-3,
    .sm-col-4-12 {
        width: 33.33%;
        width: 33.3333333333%;
    }
    .sm-col-1-4,
    .sm-col-3-12 {
        width: 25%;
        width: 25%;
    }
    .sm-col-1-5 {
        width: 20%;
        width: 20%;
    }
    .sm-col-1-6,
    .sm-col-2-12 {
        width: 16.667%;
        width: 16.6666666667%;
    }
    .sm-col-1-7 {
        width: 14.28%;
        width: 14.2857142857%;
    }
    .sm-col-1-8 {
        width: 12.5%;
        width: 12.5%;
    }
    .sm-col-1-9 {
        width: 11.1%;
        width: 11.1111111111%;
    }
    .sm-col-1-10 {
        width: 10%;
        width: 10%;
    }
    .sm-col-1-11 {
        width: 9.09%;
        width: 9.0909090909%;
    }
    .sm-col-1-12 {
        width: 8.33%;
        width: 8.3333333333%;
    }
    .sm-push-1-1 {
        margin-left: 100%;
        margin-left: 100%;
    }
    .sm-push-11-12 {
        margin-left: 91.66%;
        margin-left: 91.6666666667%;
    }
    .sm-push-10-12 {
        margin-left: 83.333%;
        margin-left: 83.3333333333%;
    }
    .sm-push-3-4,
    .sm-push-9-12 {
        margin-left: 75%;
        margin-left: 75%;
    }
    .sm-push-2-3,
    .sm-push-8-12 {
        margin-left: 66.66%;
        margin-left: 66.6666666667%;
    }
    .sm-push-7-12 {
        margin-left: 58.33%;
        margin-left: 58.3333333333%;
    }
    .sm-push-1-2,
    .sm-push-6-12 {
        margin-left: 50%;
        margin-left: 50%;
    }
    .sm-push-5-12 {
        margin-left: 41.66%;
        margin-left: 41.6666666667%;
    }
    .sm-push-1-3,
    .sm-push-4-12 {
        margin-left: 33.33%;
        margin-left: 33.3333333333%;
    }
    .sm-push-1-4,
    .sm-push-3-12 {
        margin-left: 25%;
        margin-left: 25%;
    }
    .sm-push-1-5 {
        margin-left: 20%;
        margin-left: 20%;
    }
    .sm-push-1-6,
    .sm-push-2-12 {
        margin-left: 16.667%;
        margin-left: 16.6666666667%;
    }
    .sm-push-1-7 {
        margin-left: 14.28%;
        margin-left: 14.2857142857%;
    }
    .sm-push-1-8 {
        margin-left: 12.5%;
        margin-left: 12.5%;
    }
    .sm-push-1-9 {
        margin-left: 11.1%;
        margin-left: 11.1111111111%;
    }
    .sm-push-1-10 {
        margin-left: 10%;
        margin-left: 10%;
    }
    .sm-col-1-11 {
        margin-left: 9.09%;
        margin-left: 9.0909090909%;
    }
    .sm-push-1-12 {
        margin-left: 8.33%;
        margin-left: 8.3333333333%;
    }
    .sm-push-0 {
        margin-left: 0;
    }
    .sm-show {
        display: block;
        height: auto;
    }
    .sm-hide {
        display: none;
        width: 0;
        height: 0;
    }
    .sm-no-p {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .xs-col-1-1 {
        width: 100%;
        width: 100%;
    }
    .xs-col-11-12 {
        width: 91.66%;
        width: 91.6666666667%;
    }
    .xs-col-10-12 {
        width: 83.333%;
        width: 83.3333333333%;
    }
    .xs-col-3-4,
    .xs-col-9-12 {
        width: 75%;
        width: 75%;
    }
    .xs-col-2-3,
    .xs-col-8-12 {
        width: 66.66%;
        width: 66.6666666667%;
    }
    .xs-col-7-12 {
        width: 58.33%;
        width: 58.3333333333%;
    }
    .xs-col-1-2,
    .xs-col-6-12 {
        width: 50%;
        width: 50%;
    }
    .xs-col-5-12 {
        width: 41.66%;
        width: 41.6666666667%;
    }
    .xs-col-1-3,
    .xs-col-4-12 {
        width: 33.33%;
        width: 33.3333333333%;
    }
    .xs-col-1-4,
    .xs-col-3-12 {
        width: 25%;
        width: 25%;
    }
    .xs-col-1-5 {
        width: 20%;
        width: 20%;
    }
    .xs-col-1-6,
    .xs-col-2-12 {
        width: 16.667%;
        width: 16.6666666667%;
    }
    .xs-col-1-7 {
        width: 14.28%;
        width: 14.2857142857%;
    }
    .xs-col-1-8 {
        width: 12.5%;
        width: 12.5%;
    }
    .xs-col-1-9 {
        width: 11.1%;
        width: 11.1111111111%;
    }
    .xs-col-1-10 {
        width: 10%;
        width: 10%;
    }
    .xs-col-1-11 {
        width: 9.09%;
        width: 9.0909090909%;
    }
    .xs-col-1-12 {
        width: 8.33%;
        width: 8.3333333333%;
    }
    .xs-push-1-1 {
        margin-left: 100%;
        margin-left: 100%;
    }
    .xs-push-11-12 {
        margin-left: 91.66%;
        margin-left: 91.6666666667%;
    }
    .xs-push-10-12 {
        margin-left: 83.333%;
        margin-left: 83.3333333333%;
    }
    .xs-push-3-4,
    .xs-push-9-12 {
        margin-left: 75%;
        margin-left: 75%;
    }
    .xs-push-2-3,
    .xs-push-8-12 {
        margin-left: 66.66%;
        margin-left: 66.6666666667%;
    }
    .xs-push-7-12 {
        margin-left: 58.33%;
        margin-left: 58.3333333333%;
    }
    .xs-push-1-2,
    .xs-push-6-12 {
        margin-left: 50%;
        margin-left: 50%;
    }
    .xs-push-5-12 {
        margin-left: 41.66%;
        margin-left: 41.6666666667%;
    }
    .xs-push-1-3,
    .xs-push-4-12 {
        margin-left: 33.33%;
        margin-left: 33.3333333333%;
    }
    .xs-push-1-4,
    .xs-push-3-12 {
        margin-left: 25%;
        margin-left: 25%;
    }
    .xs-push-1-5 {
        margin-left: 20%;
        margin-left: 20%;
    }
    .xs-push-1-6,
    .xs-push-2-12 {
        margin-left: 16.667%;
        margin-left: 16.6666666667%;
    }
    .xs-push-1-7 {
        margin-left: 14.28%;
        margin-left: 14.2857142857%;
    }
    .xs-push-1-8 {
        margin-left: 12.5%;
        margin-left: 12.5%;
    }
    .xs-push-1-9 {
        margin-left: 11.1%;
        margin-left: 11.1111111111%;
    }
    .xs-push-1-10 {
        margin-left: 10%;
        margin-left: 10%;
    }
    .xs-push-1-11 {
        margin-left: 9.09%;
        margin-left: 9.0909090909%;
    }
    .xs-push-1-12 {
        margin-left: 8.33%;
        margin-left: 8.3333333333%;
    }
    .xs-push-0 {
        margin-left: 0;
    }
    .xs-show {
        display: block;
        height: auto;
    }
    .xs-hide {
        display: none;
        width: 0;
        height: 0;
    }
    .xs-no-p {
        padding: 0;
    }
}

a {
    color: inherit;
    text-decoration: underline;
    outline: 0;
}

a:active,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

a.forgot-pass {
    cursor: pointer;
}

.relative {
    position: relative;
}

figure {
    margin: 0;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.uppercase.bold {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

.no-underline {
    text-decoration: none;
}

.b-brownorange {
    background-color: #cb8104;
}

.overlay-shadow {
    -webkit-box-shadow: 0 1px 1px rgba(78, 78, 78, 0.25), 0 3px 9px rgba(71, 71, 71, 0.19);
    box-shadow: 0 1px 1px rgba(78, 78, 78, 0.25), 0 3px 9px rgba(71, 71, 71, 0.19);
}

.section-beige {
    background-color: #f8f4f1;
}

.section-grey {
    background-color: #f8f4f1;
}

.section-top-spacing {
    padding: 10rem 0;
}

.section-top-spacing.half-spacing {
    padding: 5rem 0 10rem 0;
}

.section-top-spacing.half-spacing-contact {
    padding: 5rem 0;
}

#popup-content {
    display: none;
}

.light {
    font-weight: 300;
}

.r-400 {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

#page .notify.error ul li {
    color: #f50;
    font-weight: 400;
}

.infoRequired-small {
    font-size: 1.4rem;
}

.flex-fill-height {
    height: 100%;
}

.mb-5 {
    margin-bottom: 5rem;
}

.p-mw-80 {
    max-width: 80%;
}

.page-intro-spacing p {
    margin: 4rem 0;
}

.validation-summary-errors ul {
    margin-bottom: 1rem;
}

p {
    margin: 0 0 1.5rem 0;
    padding: 0;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

@media (max-width: 1024px) {
    .md-text-align-left {
        text-align: left;
    }
    .md-text-align-right {
        text-align: right;
    }
    .md-text-align-center {
        text-align: center;
    }
}

@media (max-width: 824px) {
    .sm-text-align-left {
        text-align: left;
    }
    .sm-text-align-right {
        text-align: right;
    }
    .sm-text-align-center {
        text-align: center;
    }
    .p-mw-80 {
        max-width: inherit;
    }
}

@media (max-width: 480px) {
    .xs-text-align-left {
        text-align: left;
    }
    .xs-text-align-right {
        text-align: right;
    }
    .xs-text-align-center {
        text-align: center;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .bg-image .bg-image-img {
        display: none !important;
    }
}

@media (max-width: 824px) {
    .section-top-spacing {
        padding: 4rem 0;
    }
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    background-color: #fff;
    /* font-family: "HK Grotesk", Helvetica, sans-serif; */
    line-height: 1.4;
    font-weight: 200;
    color: #000;
    overflow-x: hidden;
    min-height: 100vh;
    display: block !important;
    margin: 0;
    -webkit-transition: padding 0.3s ease;
    -o-transition: padding 0.3s ease;
    transition: padding 0.3s ease;
    padding-top: 17.4rem;
}

.contentblock-ThreeColumnImages {
    position: relative;
}

.contentblock-ThreeColumnImages .color-block {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20rem;
    width: 100%;
    z-index: -1;
}

.contentblock-ThreeColumnImages .post {
    width: 100%;
    -webkit-transition: padding 0.3s ease-in-out;
    -o-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.contentblock-ThreeColumnImages .post.hover {
    width: 100%;
}

.contentblock-ThreeColumnImages .post.hover .image-padding {
    padding: 0;
}

.contentblock-ThreeColumnImages .post .image-padding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: padding 0.3s ease-in-out;
    -o-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    padding: 0 5%;
    aspect-ratio: 115/185;
}

.contentblock-ThreeColumnImages .post .image-padding .image {
    width: 100%;
}

.contentblock-ThreeColumnImages .image {
    display: block;
    overflow: hidden;
    height: 0;
    padding-bottom: 160%;
    position: relative;
}

.contentblock-ThreeColumnImages .post>a {
    display: block;
    cursor: pointer;
}

.contentblock-ThreeColumnImages .post .image {
    overflow: hidden;
}

.contentblock-ThreeColumnImages .post .image figure {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contentblock-ThreeColumnImages .post .image .video {
    position: absolute;
    height: 100%;
    width: 115%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
}

.contentblock-ThreeColumnImages .post .image .video iframe {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.contentblock-ThreeColumnImages .post .post-content {
    position: relative;
    display: block;
    text-align: center;
    font-weight: 400;
    color: #000;
    background-color: transparent;
    padding: 3rem 1.5rem;
}

.contentblock-ThreeColumnImages .post .post-content h5,
.contentblock-ThreeColumnImages .post .post-content>h3 {
    font-weight: 400;
}

.contentblock-ThreeColumnImages .post .post-content>h3 {
    font-size: 3.4rem;
    font-size: calc(112.5% + 1vw);
    margin-bottom: 0.5rem;
}

.contentblock-ThreeColumnImages .post .post-content>h5 {
    font-size: 2.4rem;
    font-weight: 200;
}

@media (max-width: 824px) {
    .contentblock-ThreeColumnImages .post .post-content>h3 {
        font-size: 1.4rem;
    }
    .contentblock-ThreeColumnImages .color-block {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20rem;
        width: 100%;
        z-index: -1;
    }
    .contentblock-ThreeColumnImages .post {
        width: 100%;
        -webkit-transition: padding 0.3s ease-in-out;
        -o-transition: padding 0.3s ease-in-out;
        transition: padding 0.3s ease-in-out;
        -webkit-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    .contentblock-ThreeColumnImages .post.hover {
        width: 100%;
    }
    .contentblock-ThreeColumnImages .post.hover .image-padding {
        padding: 0;
    }
    .contentblock-ThreeColumnImages .post .image-padding {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transition: padding 0.3s ease-in-out;
        -o-transition: padding 0.3s ease-in-out;
        transition: padding 0.3s ease-in-out;
        -webkit-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
        padding: 0 5%;
        aspect-ratio: 115/185;
    }
    .contentblock-ThreeColumnImages .post .image-padding .image {
        width: 100%;
    }
    .contentblock-ThreeColumnImages .image {
        display: block;
        overflow: hidden;
        height: 0;
        padding-bottom: 160%;
        position: relative;
    }
    .contentblock-ThreeColumnImages .post>a {
        display: block;
        cursor: pointer;
    }
    .contentblock-ThreeColumnImages .post .image {
        overflow: hidden;
    }
    .contentblock-ThreeColumnImages .post .image figure {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .contentblock-ThreeColumnImages .post .image .video {
        position: absolute;
        height: 100%;
        width: 115%;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center center;
    }
    .contentblock-ThreeColumnImages .post .image .video iframe {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .contentblock-ThreeColumnImages .post .post-content {
        position: relative;
        display: block;
        text-align: center;
        font-weight: 400;
        color: #000;
        background-color: transparent;
        padding: 3rem 1.5rem;
    }
    .contentblock-ThreeColumnImages .post .post-content h5,
    .contentblock-ThreeColumnImages .post .post-content>h3 {
        font-weight: 400;
    }
    .contentblock-ThreeColumnImages .post .post-content>h3 {
        font-size: 3.4rem;
        font-size: calc(112.5% + 1vw);
        margin-bottom: 0.5rem;
    }
    .contentblock-ThreeColumnImages .post .post-content>h5 {
        font-size: 1.3rem;
        font-weight: 200;
    }
    @media (max-width: 824px) {
        .contentblock-ThreeColumnImages .post .post-content>h3 {
            font-size: 2rem;
        }
    }
}